#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* margin-left: 40px; */
  /* margin-top: 20px; */
  /* padding: 10px; */
  /* text-align: center; */
}

main {
  margin-top: 10px;
  margin-left: 10px;
}